{% load i18n %}
<ul>
    {% if upcoming is None %}
        <li><strong><a href="{{ all }}" style="color: black;">{% trans 'All' %}</a></strong></li>
    {% else %}
        <li><a href="{{ all }}">{% trans 'All' %}</a></li>
    {% endif %}

    {% for key, value in choices %}
        {% if key == upcoming %}
            <li><strong><a href="?upcoming={{ key }}{{ current_params }}{% if extra_params %}&{{ extra_params }}{% endif %}" style="color: black;">{{ value }}</a></strong></li>
        {% else %}
            <li><a href="?upcoming={{ key }}{{ current_params }}{% if extra_params %}&{{ extra_params }}{% endif %}">{{ value }}</a></></li>
        {% endif %}
    {% endfor %}
</ul>
